<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title style="text-align: center; font-weight: bold;" >
  Publicaciones
</ion-title>  
</ion-toolbar>
</ion-header>  

<ion-content>
  <ion-list>
    <ion-item *ngFor="let publicacion of publicaciones">
      <ion-label>
        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.descripcion }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="eliminarPublicacion(publicacion.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button [routerLink]="['/formulario']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
