<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title style="text-align: center; font-weight: bold;" >
  Publicaciones
</ion-title>  
</ion-toolbar>
</ion-header>  

<ion-content>
  <ion-list>
    <ion-item *ngFor="let publicacion of publicaciones">
      <ion-label>
        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.descripcion }}</p>
      </ion-label>
      <ion-button slot="end" (click)="openModal(publicacion.id)" >
        <ion-icon slot="start" name="trash-outline"></ion-icon>   
        Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Opciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <p>¿Deseas borrar la publicación?</p>
      <ion-buttons slot="end" style="padding-bottom: 600px;">
        <ion-button slot="end" color="danger"  *ngIf="currentPublicacionId !== null" (click)="eliminarPublicacion(currentPublicacionId!)">  
          <ion-icon slot="start" name="trash-outline"></ion-icon> 
          Eliminar
        </ion-button>
        <ion-button (click)="setOpen(false)">Close</ion-button>
      </ion-buttons>
    </ng-template>
  </ion-modal>
</ion-content>






<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button [routerLink]="['/formulario']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
