<!--<ion-item lines="none">
  <ion-img [src]="'data:image/jpeg; base64,'"></ion-img>
  <ion-label>
    <h3>{{ post.titulo }}</h3>
    <p>{{ post.descripcion }}</p>
  </ion-label>
  <ion-button slot="end" color="none"(click)="eliminarPost()">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
</ion-item>
-->

<ion-item lines="none">
  <ion-grid>
    <ion-row>
      <ion-col size="2" *ngIf="post.fotos && post.fotos.length > 0">
        <ion-img *ngFor="let foto of post.fotos" [src]="'data:image/jpeg;base64,' + foto"></ion-img>
        <ng-template #defaultImage>
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label>
    <h3>{{ post.titulo }}</h3>
    <p>{{ post.descripcion }}</p>
  </ion-label>
  <ion-button slot="end" color="none" (click)="eliminarPost()">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
</ion-item>
