<!--<ion-list>
  <ion-item>
    <ion-input labelPlacement="floating" value="">
      <div slot="label">Titulo <ion-text color="danger">(Required)</ion-text></div>
    </ion-input>
  </ion-item>
</ion-list>
<ion-item>
  <ion-button color="medium">
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    FOTOGRAFIA</ion-button>
</ion-item>
<ion-item>
  <ion-input label="Descripcion" [counter]="true" maxlength="20" labelPlacement="stacked"
    placeholder="Despues de 2 litros de mate y talvez 6 o 7 cafes, el cerebro pierde capacidad de asombro"></ion-input>
</ion-item>
<ion-item style="padding-bottom: 300px;">
  <ion-button>Guardar</ion-button>
</ion-item>-->
<ion-list>
  <ion-item>
    <ion-input [(ngModel)]="titulo" labelPlacement="floating">
      <div slot="label">Titulo <ion-text color="danger">(Required)</ion-text></div>
    </ion-input>
  </ion-item>
</ion-list>
<ion-item>
  <ion-button color="medium">
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    FOTOGRAFIA
  </ion-button>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="descripcion" label="Descripcion" [counter]="true" maxlength="20" labelPlacement="stacked"
    placeholder="Despues de 2 litros de mate y talvez 6 o 7 cafes, el cerebro pierde capacidad de asombro">
  </ion-input>
</ion-item>
<ion-item style="padding-bottom: 300px;">
  <ion-button (click)="onSubmit()">Guardar</ion-button>
</ion-item>